.App {
  max-width: 100vw;
  max-height: 100vh;
}
.App-header {
  padding: 12px 66px;
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.student-info-section {
  padding: 66px;
  display: flex;
  flex-direction: column;
  .welcome-text {
    padding: 16px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    width: 100%;
  }
}
.page-body {
  padding: 66px;
  .problem-list {
    display: flex;
    flex-direction: column;
    .problem-item {
      margin: 8px 0;
    }
  }
}
