.student-info {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
  flex: 0;
  width: 30%;
  .student-header {
    display: flex;
    flex-direction: row;
    .student-name {
      flex-grow: 1;
      font-weight: bold;
    }
    .student-img {
      flex-grow: 0;
      width: 66px;
      height: 66px;
      border-radius: 50%;
      border: 1px solid black;
    }
  }
  .student-rating {
    display: flex;
    flex-direction: row;
    .rating-desc-text {
      margin-right: 4px;
    }
  }
}
